TEMP.txt
# Ignorar tudo dentro de dados/midias
dados/midias/*
# Mas manter o .gitkeep
!dados/midias/.gitkeep


# Ignorar arquivos específicos
dados/auditoria.log
dados/banco.db

# Ignorar todos os __pycache__ em qualquer lugar
__pycache__/

# ignorar arquivos temporários
*.pyc
*.pyo
*.tmp
*.log


